services:
  oracle-db:
    build: SQL
    container_name: cocktails-oracle-db
    ports:
      - "1521:1521"
    environment:
      - ORACLE_PWD=OraclePassword123
    volumes:
      - oracle-data:/opt/oracle/oradata

volumes:
  oracle-data: